* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 996px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    font-family: $InterRegular;
}

.row {
    @include flexBetween;
}
